.footer {
  color: $color-default-white;
  background-color: $color-black-russian;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 44px 103px;
  padding-bottom: 28px;
  max-width: $vp-1200;
  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-1366) {
    padding: 44px 20px;
    padding-bottom: 28px;
  }

  @include vp-1199 {
    padding: 44px 45px;
    padding-bottom: 36px;
  }

  @include vp-767 {
    padding-top: 49px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 52px;
    flex-direction: column;
  }
}

.footer a {
  color: $color-default-white;

  &[href] {
    transition: opacity $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

.footer__logo {
  @include vp-1199 {
    position: relative;
    top: 4px;
  }

  @include vp-767 {
    position: absolute;
    top: auto;
    z-index: 2;
  }
}

.footer__nav {
  position: relative;
  top: 2px;
  left: 5px;
  max-width: 431px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  user-select: none;

  @include vp-1199 {
    top: 7px;
    left: 7px;
  }

  @include vp-767 {
    margin-bottom: 37px;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 30px;
    row-gap: 20px;

    &::before {
      position: relative;
      content: "";
    }
  }
}

.footer__nav a {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  overflow-wrap: anywhere;

  &:not(:last-child) {
    margin-right: 40px;

    @include vp-1199 {
      margin-right: 30px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  @include vp-767 {
    margin: 0;
    font-size: 16px;
    line-height: 19px;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(2) {
      grid-column: 1;
      grid-row: 3;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

.footer__social {
  position: relative;
  top: -3px;

  @include vp-1199 {
    top: 2px;
    right: -6px;
  }

  @include vp-767 {
    top: 0;
    right: 0;
  }
}
